/* DICAS:
 Exp: 

 header img -> todas as imagens dentro do elemento header

.header img -> todas as imagens dentro do elemento cuja classe eh header

*/
            .box
            {
            background-color: white;
            width: 100px;
            padding: 10px 10px;
            margin: 20px 20px;
            border: 5px solid red;
            box-sizing: border-box;
            }

            .beautiful
            {
            font-size: 48px;
            }


main
    {
    text-align: center;
    max-width: 700px;
    margin: 0px 40px;
    padding: 0 0;
    line-height: 40px;
    }

h1
    {
    font-family: 'Press Start 2P', cursive;
    }


h1  

    {
    font-size: 30px;
    ;background-color: rgb(125, 168, 134);}
            .big
            {
            font-size: 60px;
            color: rgb(156, 2, 2);
            }

body 
    {
    background-color: black;
    margin: 0;
    }

body img
    {
   border-radius: 100px;
   width: 200px;
   border: 10px solid #e70e19;
   align-content: center;
    }

p
    {
    color: rgb(200, 245, 0);
    }
            .texto 
            {
            font-family: sans-serif;
            }

    
header
    {
    color: chartreuse; 
    text-align: justify;
    font-family: helvetica;
    }
            .esquerda 
            {
            text-align: left;
            }
            .direita 
            {
            text-align: right;
            }
            .centro 
            {
            text-align: center;
            }

ul
    {
    color: salmon;
    padding: 0 20px;
    }

a
    {
    color: white;
    }

a:hover
    {
    color: purple;
    background-color: white;
    }
footer
    {
    color: turquoise;
    }

footer a
    {
    color: white;
    opacity: 0,5;
    } 

footer p
    {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
div
    {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    color: transparent;
    }

p.caption
    {
    font-style: italic;
    }

p.eusou
    {
    margin-top: 10px;
    }
