
h1  

    {
    font-size: 30px;
    ;background-color: rgb(125, 168, 134);}
    .big
    {
        font-size: 60px;
        color: rgb(156, 2, 2);
    }

    }

h2
    {
        text-decoration: lavender;
        line-height: 600px;
    }
body 
    {
        background-color: black;
    }
p
    {
        color: rgb(200, 245, 0);
    }
image
    .grande
    {
        image-resolution: 700PX;
    }
header
    {color: chartreuse;}
ul
{color: salmon;}